.chores {
  color: #ff4f33;
}

.doneChores {
  color: #3c79b8;
}

p {
  font-size: large;
  color: crimson;
  text-align: center;
  text-shadow: 1px 1px 4px darkblue;
}

h3 {
  text-align: center;
}

img {
  max-width: 15%;
  height: auto;
  display: block;
  margin: auto;
}
